{"openapi":"3.1.0","info":{"title":"Trendinary Public API","version":"1.0.0","description":"Stable public /api/v1 contract. Application release versions are reported separately by /healthz and /readyz. Private /api/v1/admin/* and /api/v1/integrations/* surfaces are intentionally excluded."},"servers":[{"url":"https://trendinary.com"}],"paths":{"/api/v1/healthz":{"get":{"operationId":"getHealth","summary":"Process liveness and build identity","responses":{"200":{"$ref":"#/components/responses/OKData"}}}},"/api/v1/readyz":{"get":{"operationId":"getReadiness","summary":"Database-aware readiness and build identity","responses":{"200":{"$ref":"#/components/responses/OKData"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/health/streams":{"get":{"operationId":"getStreamHealth","summary":"Scanner and stream runtime health","responses":{"200":{"$ref":"#/components/responses/OKData"}}}},"/api/v1/trends":{"get":{"operationId":"listTrends","summary":"List published trends","responses":{"200":{"$ref":"#/components/responses/OKData"}}}},"/api/v1/peep":{"get":{"operationId":"getPeep","summary":"Get PEEP trend briefing","responses":{"200":{"$ref":"#/components/responses/OKData"}}}},"/api/v1/fomo":{"get":{"operationId":"getFomo","summary":"Get FOMO trend briefing","responses":{"200":{"$ref":"#/components/responses/OKData"}}}},"/api/v1/following/radar":{"post":{"operationId":"createRadar","summary":"Create an anonymous radar","responses":{"201":{"$ref":"#/components/responses/CreatedData"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}},"delete":{"operationId":"deleteRadar","summary":"Delete the current radar","security":[{"RadarBearer":[]}],"responses":{"204":{"$ref":"#/components/responses/NoContent"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/state":{"get":{"operationId":"getFollowingState","summary":"Get current radar state","security":[{"RadarBearer":[]}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/check":{"post":{"operationId":"checkFollowing","summary":"Evaluate the current radar now","security":[{"RadarBearer":[]}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/follows":{"post":{"operationId":"addFollow","summary":"Add a follow to the radar","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonObject"}}}},"security":[{"RadarBearer":[]}],"responses":{"201":{"$ref":"#/components/responses/CreatedData"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/follows/{id}":{"delete":{"operationId":"removeFollow","summary":"Remove a follow","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"security":[{"RadarBearer":[]}],"responses":{"204":{"$ref":"#/components/responses/NoContent"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/preferences":{"patch":{"operationId":"updateFollowingPreferences","summary":"Update radar preferences","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonObject"}}}},"security":[{"RadarBearer":[]}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/alerts/feedback":{"get":{"operationId":"getFollowingAlertFeedback","summary":"Get alert feedback state","security":[{"RadarBearer":[]}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/alerts/{id}/feedback":{"post":{"operationId":"setFollowingAlertFeedback","summary":"Record alert feedback","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonObject"}}}},"security":[{"RadarBearer":[]}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/quality":{"get":{"operationId":"getFollowingQuality","summary":"Get radar quality diagnostics","security":[{"RadarBearer":[]}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/briefing":{"get":{"operationId":"getFollowingBriefing","summary":"Get radar briefing","security":[{"RadarBearer":[]}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/briefing/seen":{"post":{"operationId":"markFollowingBriefingSeen","summary":"Mark briefing seen","security":[{"RadarBearer":[]}],"responses":{"204":{"$ref":"#/components/responses/NoContent"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/alerts/read":{"post":{"operationId":"markFollowingAlertsRead","summary":"Mark all alerts read","security":[{"RadarBearer":[]}],"responses":{"204":{"$ref":"#/components/responses/NoContent"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/alerts":{"delete":{"operationId":"clearFollowingAlerts","summary":"Clear radar alerts","security":[{"RadarBearer":[]}],"responses":{"204":{"$ref":"#/components/responses/NoContent"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/push/public-key":{"get":{"operationId":"getPushPublicKey","summary":"Get Web Push VAPID public key","responses":{"200":{"$ref":"#/components/responses/OKData"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/following/push/subscription":{"put":{"operationId":"putPushSubscription","summary":"Create or rebind a Web Push subscription","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonObject"}}}},"security":[{"RadarBearer":[]}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}},"delete":{"operationId":"deletePushSubscription","summary":"Delete a Web Push subscription","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonObject"}}}},"security":[{"RadarBearer":[]}],"responses":{"204":{"$ref":"#/components/responses/NoContent"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/trends/{slug}/history":{"get":{"operationId":"getTrendHistory","summary":"Get trend lifecycle history","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer"},"description":"Default 48; maximum 500"}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/trends/{slug}/propagation":{"get":{"operationId":"getTrendPropagation","summary":"Get trend propagation across sources","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/trends/{slug}/explanation":{"get":{"operationId":"getTrendExplanation","summary":"Get trend explanation","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/api/v1/trends/{slug}/ask":{"post":{"operationId":"askTrend","summary":"Ask a bounded question about a trend","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AskRequest"}}}},"responses":{"200":{"$ref":"#/components/responses/OKData"},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/api/v1/trends/{slug}":{"get":{"operationId":"getTrend","summary":"Get one published trend","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/api/v1/signals/hacker-news":{"get":{"operationId":"getHackerNewsSignals","summary":"Fetch live Hacker News signals","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer"},"description":"Bounded live-source result limit"}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"400":{"$ref":"#/components/responses/BadRequest"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/signals/bluesky":{"get":{"operationId":"getBlueskySignals","summary":"Fetch live Bluesky signals","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer"},"description":"Bounded live-source result limit"}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"400":{"$ref":"#/components/responses/BadRequest"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/api/v1/sources/{domain}":{"get":{"operationId":"getSource","summary":"Get source intelligence by domain","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/OKData"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/api/v1/methodology/bias":{"get":{"operationId":"getBiasMethodology","summary":"Get bias methodology","responses":{"200":{"$ref":"#/components/responses/OKData"}}}},"/api/v1/methodology/score":{"get":{"operationId":"getScoreMethodology","summary":"Get scoring methodology","responses":{"200":{"$ref":"#/components/responses/OKData"}}}}},"components":{"securitySchemes":{"RadarBearer":{"type":"http","scheme":"bearer","description":"Anonymous radar sync key returned by POST /api/v1/following/radar."}},"schemas":{"JsonObject":{"type":"object","additionalProperties":true},"Error":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}},"additionalProperties":true},"DataEnvelope":{"type":"object","required":["data"],"properties":{"data":{}},"additionalProperties":false},"AskRequest":{"type":"object","required":["question"],"properties":{"question":{"type":"string","minLength":1,"maxLength":2000}},"additionalProperties":false}},"responses":{"OKData":{"description":"Successful JSON response","headers":{"Cache-Control":{"schema":{"type":"string"},"description":"Route-specific cache policy when set."}},"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/DataEnvelope"},{"$ref":"#/components/schemas/JsonObject"}]}}}},"CreatedData":{"description":"Resource created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataEnvelope"}}}},"NoContent":{"description":"Operation completed with no response body"},"BadRequest":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Unauthorized":{"description":"Missing or invalid radar credential","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotFound":{"description":"Requested resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"ServiceUnavailable":{"description":"Required durable/runtime service is unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"InternalError":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"x-trendinary-contract":{"apiVersion":"v1","compatibility":"Within 1.x, existing paths/methods, documented response status codes, required request fields, and required response fields are not removed or made more restrictive. Breaking changes require a new major API version.","errors":"JSON errors use an `error` string. 429 is generated at the Cloudflare edge with `Retry-After` metadata.","timestamps":"Timestamps are RFC 3339 UTC strings unless a route explicitly documents another representation.","limits":"Following JSON bodies are capped at 32 KiB. History defaults to 48 entries and caps at 500. Other live-source handlers enforce bounded query limits.","cache":"Health/readiness/runtime and personalized Following state are no-store. The Web Push public key may be cached for one hour. Hashed /assets/* are immutable at the edge; other API caching remains route-controlled."}}
